@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$white: hsl(0,0,100%);
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225,100%,98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$bright-purple: hsl(245, 83%, 68%);

.container {
    width: 100vw;
    height: 100vh;
    background-color: $pale-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: $desaturated-blue;
}

.card {
    background-color: $white;
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
    padding-bottom: 1rem;

    .card-image {
        img{
            border-radius: 1rem 1rem 0 0 ;
        }
    }

    .description {
        padding: 2rem 2.5rem 1rem;

        .title {
            margin-bottom: .5rem;
            font-size: 24px;
            font-weight: 900;
            color: $dark-blue;
        }
    }

    
    .price {
        margin: 1rem 1rem;
        border-radius: 1rem;
        background-color: $very-pale-blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    
        img {
            background-color: $pale-blue;
            border-radius: 50%;
        }

        .plan {
            font-weight: 900;
            color: $dark-blue;
        }

        .options {
            font-weight: 700;
            color: $bright-blue;
            text-decoration: underline;
            margin-left: 1rem;
        }

        .options:hover {
            color: $bright-purple;
            text-decoration: none;
        }
    }

    .buttons {
        padding: 1rem;
        font-weight: 700;

        .button-payment {
            background-color: $bright-blue;
            padding: 1rem;
            border-radius: 1rem;
            color: $white;
            box-shadow: 0 .25rem 1rem $bright-purple;
        }

        .button-payment:hover {
            background-color: $bright-purple;
            cursor: pointer;
        }

        .button-cancel {            
            padding: 1rem;
            border-radius: 1rem;
        }

        .button-cancel:hover {
            color: $dark-blue;
            font-weight: 900;
            cursor: pointer;
        }
    }

}


